<h2>User Profile</h2>

<%= image_tag avatar_url(@user) %>
<div>
	Username: <%= @user.username %><br>
	Email: <%= @user.email %><br>
	Bio: <%= @user.bio %><br>
	Location: <%= @user.location %><br>
  Links Submitted: <%= @user.links_count %><br>
  Total Comments: <%= @user.comments_count %><br>
</div>

<% if user_signed_in? && @user == current_user %>
	<br><%= link_to 'Edit Profile', edit_user_registration_path %>
<% end %>