<h2 align="center">Here is where all the links go!</h2>

<% if user_signed_in? %>
	<div>
		<%= link_to 'Add a new link', new_link_path %><br>
	</div>
<% end %>

<% @links.each do |link| %>
	<div align="center">
    <%= link.score %>
		<%= link_to link.title, link.url %>
    added by <%= link_to link.user.username, user_path(link.user.id) %>, 
		<%= time_ago_in_words(link.created_at) %> ago.
    <% if signed_in? && current_user != link.user %>
      <%= link_to "upvote", like_link_path(link), method: :put %>
      <%= link_to "downvote", dislike_link_path(link), method: :put %>
    <% end %>
    <br>
	</div>
<% end %>