<p>Score: <%= @link.score %></p>

<p>Title: <%= @link.title %></p>

<p>URL: <%= link_to @link.url %></p>

<% @link.comments.each do |comment| %>
	<div>
	<%= comment.user %> says: <%= comment.body %>
	<% if comment.user == current_user %>
		<%= link_to "Delete", comment_path(comment), method: :delete %>
	<% end %>
	</div>
<% end %>

<%= form_for @link.comments.build do |form| %>
	<%= form.hidden_field :link_id %>
	<%= form.text_area :body %>
	<%= form.submit %>
<% end %>